<section class="hero is-primary has-background-grey">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item ">
              <a class="button is-light is-outlined has-background-grey-dark" href="/">
                <span>Home</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-light is-outlined has-background-grey-dark" href="/projectWebsite">
                <span>Projects</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-light is-outlined has-background-grey-dark" href="/aboutMe">
                <span>About me</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-danger is-outlined has-background-grey-dark " href="https://github.com/mgebel/" target="_blank">
                <span class="icon">
                  <fa-icon [icon]="faGithub"></fa-icon>
                </span>
                <span>My github</span>
              </a>
            </span>
          </div>
        </div>
      
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
      <p class="title has-text-left has-text-dark">
        
      </p>
  </div>

</section>