<section class="hero is-primary has-background-grey-dark">
    <div class="hero-body has-text-centered">
      <p class="title">
        About me
      </p>
      <p class="subtitle">
        Who i am, what i am doing etc.
      </p>
    </div>
    <div class="columns">
        <div class="column is-half">
<section class="section">
    <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <br>
    <div class="content">
        <p>I am Martin, backend software developer. <br>Working mainly with java in ecommerce on SAP commerce solutions.</p>
        <p>Started learing programming in 2017.</p>
        <p>Created this website to experiment with different technologies and learn new things.</p>
    </div>
</section>
</div>
<section class="section">
    <p>More stuff</p>
</section>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Technologie</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Java</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
    </tr>
      <tr>
        <td>JavaScript</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>TypeScript</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>PL/SQL</td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>SQL</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td> </tr>
      <tr>
        <td>HTML</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td> </tr>
      <tr>
        <td>CSS</td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>OracleDB</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td> </tr>
      <tr>
        <td>MySql</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td> </tr>
      <tr>
        <td>Mssql</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>SAP Commerce</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td> </tr>
      <tr>
        <td>Spring/-boot/-mcv</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td> </tr>
      <tr>
        <td>Apache Tomcat</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>Apache Solr</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td> </tr>
      <tr>
        <td>RobotFramework</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td></tr>
      <tr>
        <td>Weblate</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>Docker</td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>Kubernetes</td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>Anuglar</td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td>
        <td></td></tr>
      <tr>
        <td>Ubuntu</td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td>
        <td></td> </tr>
      <tr>
        <td>Windows</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="has-text-centered"><fa-icon [icon]="faBrain"></fa-icon></td>
        <td></td> </tr>
    </tbody>
  </table>
</section>