<section class="section has-background-grey-dark">
  <h1 class="title has-text-light">Hi</h1>
  <h2 class="subtitle has-text-light">
    I use this website to show, try out and documnet my personal programming/software development projects.
  </h2>
</section>
<a href="/projectWebsite">
<div class="columns has-background-grey-dark">
    <div class="column is-one-third mx-6 mb-6">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="../../../../assets/image/website.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-4">1. Project: This website</p>
          <div class="content">
            Creating my own website with angular.
          </div>
        </div>
      </div>
    </div>
</div>
</a>